{% extends "layout.html" %}
{% block body %}
<div class="col-sm-8">
  <form role="form" id="formReports" name="formReports" action="{{ url_for('reports') }}" method="GET">
    <!--div class="form-group"-->
      <div class="bs-callout bs-callout-info">
        <div class="page-header">
            <h4>Informe <small></small></h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <select class="form-control" name="report" required="required">
                    {% for report in reports %}
                        {% if requestQuery.report %}
                            <option value="{{ report.key }}" selected="selected">{{ report.value }}</option>
                        {% else %}
                            <option value="{{ report.key }}">{{ report.value }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
      </div>

      <div class="bs-callout bs-callout-info">
        <div class="page-header text-right">
            <h4>Filtrar por fecha <small></small></h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="radio">
                                    <label>
                                        {% if requestQuery.optionDate == 'del' %}
                                            <input type="radio" value="del"  class="" name="optionDate" checked="checked">
                                        {% else  %}
                                            <input type="radio" value="del"  class="" name="optionDate">
                                        {% endif %}
                                        Del
                                    </label>
                                </div>
                            </td>
                            <td>
                                <fieldset id="del" disabled="disabled">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <select class="form-control" name="dateFormat">
                                                {% for dt in dateFormats %}
                                                    {% if requestQuery.dateFormat and dt.key == requestQuery.dateFormat %}
                                                        <option label="{{ dt.value }}" value="{{ dt.key }}" selected="selected">{{ dt.value }}</option>
                                                    {% else %}
                                                        <option label="{{ dt.value }}" value="{{ dt.key }}">{{ dt.value }}</option>
                                                    {% endif %}

                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                        </div>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="radio">
                                    <label>
                                        {% if requestQuery.optionDate == 'month' %}
                                            <input type="radio" value="month"  class="" name="optionDate" checked="checked">
                                        {% else  %}
                                            <input type="radio" value="month"  class="" name="optionDate">
                                        {% endif %}
                                        Por mes
                                    </label>
                                </div>
                            </td>
                            <td>
                                <fieldset id="month"  disabled="disabled">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <select class="form-control" name="dateFormatMonth">
                                                {% for dtm in dateFormatMonths %}
                                                    {% if requestQuery.dateFormatMonth and dtm.key == requestQuery.dateFormatMonth %}
                                                        <option label="{{ dtm.value }}" value="{{ dtm.key }}" selected="selected">{{ dtm.value }}</option>
                                                    {% else %}
                                                        <option label="{{ dtm.value }}" value="{{ dtm.key }}">{{ dtm.value }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                             <select class="form-control" name="dateFormatYear">
                                                 {% for dty in dateFormatYears %}
                                                     {% if requestQuery.dateFormatYear and dty.key == requestQuery.dateFormatYear %}
                                                         <option label="{{ dty.value }}" value="{{ dty.key }}" selected="selected">{{ dty.value }}</option>
                                                     {% else %}
                                                         <option label="{{ dty.value }}" value="{{ dty.key }}">{{ dty.value }}</option>
                                                     {% endif %}
                                                 {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="radio">
                                    <label>
                                        {% if requestQuery.optionDate == 'between' %}
                                            <input type="radio" value="between"  class="" name="optionDate" checked="checked">
                                        {% else  %}
                                            <input type="radio" value="between"  class="" name="optionDate">
                                        {% endif %}
                                        Por rango
                                    </label>
                                </div>
                            </td>
                            <td>
                                <fieldset id="between" disabled="disabled">
                                    <style>
                                      .full button span {
                                        background-color: limegreen;
                                        border-radius: 32px;
                                        color: black;
                                      }
                                      .partially button span {
                                        background-color: orange;
                                        border-radius: 32px;
                                        color: black;
                                      }
                                    </style>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            Desde
                                            <p class="input-group">
                                                {% if requestQuery.dateFrom %}
                                                    <input type="date" class="form-control" name="dateFrom" id="dateFrom" value="{{ requestQuery.dateFrom }}" required="required">
                                                {% else %}
                                                    <input type="date" class="form-control" name="dateFrom" id="dateFrom" required="required">
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            Hasta
                                            <p class="input-group">
                                                {% if requestQuery.dateTo %}
                                                    <input type="date" class="form-control" name="dateTo" id="dateTo" value="{{ requestQuery.dateTo }}" required="required">
                                                {% else %}
                                                    <input type="date" class="form-control" name="dateTo" id="dateTo" required="required">
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>




        {#<div class="row">
            <div class="form-group col-sm-6">
              <label for="Publishstart">{{_('Publishing date from')}}</label>
              <div style="position: relative">
                <input type="date" class="form-control" name="Publishstart" id="Publishstart" value="">
                <input type="text" class="form-control fake-input hidden" id="fake_Publishstart" value="">
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label for="Publishend">{{_('Publishing date to')}}</label>
              <div style="position: relative">
                <input type="date" class="form-control" name="Publishend" id="Publishend" value="">
                <input type="text" class="form-control fake-input hidden" id="fake_Publishend" value="">
              </div>
            </div>
        </div>#}


    <button type="submit" class="btn btn-default">{{_('Submit')}}</button>
  </form>

    {% if results %}

        <h3>{{_('Documentos consultados')}} <div class="pull-right"> Desde:<span>{{ dateFrom }}</span> Hasta <span>{{ dateTo }}</span></div></h3>


        <table class="table table-bordered">
            <tbody>
            {% if results %}
                <tr>
                    <th colspan="1">Usuario</th>
                    <th width="40%">Documento</th>
                    <th width="30%">Fecha</th>
                    <th width="30%">Hora</th>
                </tr>
                {% for row in results %}
                    {#<tr>
                        <td colspan="1">{{ item.app.nickname }}</td>
                        <td colspan="3" style="padding:0">
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <tbody>
                                <tr>
                                    <td width="40%"><a href="{{ url_for('show_book', book_id=item.app.book_id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">{{item.book.title}}</a></td>
                                    <td width="30%">{{ item.app.date_at }}</td>
                                    <td width="30%">{{ item.app.time_at }}</td>
                                </tr>
                                <tbody>
                            </table>
                        </td>
                    </tr>#}
                    <tr>
                        <td colspan="1"><h4>{{ row.default.nickname }}</h4></td>
                        <td colspan="4" style="padding:0">
                            {% if row['items'] %}
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <tbody>
                                {% for row2 in row['items'] %}
                                    <tr>
                                    <td width="4%">{{ loop.index }}</td>
                                        <td width="40%"><a href="{{ url_for('show_book', book_id=row2.book.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">{{row2.book.title}}</a></td>
                                        <td width="28%">{{ row2.item.datetime|formatdate }}</td>
                                        <td width="28%">{{ row2.item.time_at }}</td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td colspan="4">
                                            <p class="text-center">
                                            {{ row['items']|length }}
                                            {% if row['items']|length > 1 %}
                                                Docuentos consultados
                                            {% else %}
                                                Documento consultado
                                            {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                <tbody>
                            </table>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No se encontraron resultados</td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    {% endif %}

</div>
{% endblock %}

{% block js %}
<script>
  var language = '{{ g.user.locale }}';
</script>

<script src="{{ url_for('static', filename='js/libs/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
{% if not g.user.locale == 'en' %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.' + g.user.locale + '.min.js') }}" charset="UTF-8"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/libs/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_books.js') }}"></script>
<script>
</script>
{% endblock %}
{% block header %}
<link href="{{ url_for('static', filename='css/libs/typeahead.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/libs/bootstrap-datepicker3.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
